<div class="card mb-3" style="max-width: 1000px;">
    <div class="row no-gutters">
        <div class="col-md-7">
            <img src="assets/img/about.jpg" class="card-img" alt="about">
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <h3 class="card-title">¿Quienes somos?</h3>
                <div>
                    <p class="card-text">
                        Somos emprendedoras que nos dedicamos a realizar 
                        decoraciones, invitaciones, souvenirs para todo tipo de eventos. ❤️
                    </p>
                </div>
                <div>
                    <p>Este emprendimiento surgio hace 3 años mediante el impulso de familiares y amigos.</p>
                </div>
                <div>
                    <p>En esta pagina vamos a estar subiendo mucha info y articulos que te pueden llegar a interesar
                        para tu evento.
                    </p>
                </div>
                <div>
                    <p>Nos interesa que solo la pases bien y tengas un lindo recuerdo.</p>
                </div>
            </div>
        </div>
    </div>
</div>